footer {
    background: #1D1D1B;
    height: 230px;
    /* display: flex; */
    padding: 10px 80px;
    /* justify-content: space-between; */
    color: #E2E2E2;

}

.footer_main {
    display: flex;
    justify-content: space-between;
}

.box {
    /* margin-left: 100px; */
    /* text-align: start;
    align-items: start;  */
}

.footer_main ul {
    list-style: none;
    ml
    /* text-align: start;
    align-items: start; */
}

/* .footer_main ul li {
    margin-left: o auto;
    text-align: start;
    align-items: start;
} */