.container {
    display: flex;
    padding: 20px 80px;
    position: relative;
    background: #ECECEC;
    font-family: 'Montserrat';
}

.girl_face {
    position: absolute;
    margin-left: 10px;
    bottom: 200px;
    width: 320px;
}

.about {
    margin-top: 140px;
    /* height: 60\0px; */
    margin-left: 370px;
    padding: 0 24px;
    background: white;
}

.about_photo {
   margin-top: 10px;
   width: 320px;
   margin-bottom: 50px;
}

.photo {
    width: 320px;
}