.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme {
    margin-top: 44px;
    margin-bottom: 18px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.theme h3 {
    font-family: Montserrat;
    font-weight: 500 medium;
    font-size: 24px;
    line-height: 29px;
}

.advanItem {
    width: 286px;
    height: 248px;
    background-color: white;
    padding: 6px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
}

.img_wrap {
    height: 115px;
}

.advanItem h6 {
    font-size: 14px;
    font-weight: 500 medium;
}

.advanImage {
    padding: 15px 10px;
}

.advanInfo {
    margin-top: 8px;
    color: #979797;
}

@media (max-width: 500px) {
    .advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}