.order_btn {
    background-color: #E5271B;
    color: #fff;
    border: 1px solid #E5271B;
    height: 44px;
    width: 336px;
}

.modal_wrap {
    padding: 20px 24px;
}
.modal_block {
    display: flex;
    justify-content: space-between;
}
#modal_theme {
    padding-left: 0;
    font-size: 20px;
    line-height: 24px;
    color: #393939;
}

.icon {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 20px;
}

.box_input {
    color:#808080;
    font-size: 13px;
    margin-bottom: 12px;
}

.label {
    color:#808080;
    font-size: 13px;
    margin-bottom: 4px;
}

.input {
    width: 392px;
    height: 44px;
    padding: 12px 13px;
    font-size: 14px;
}

.box_check {
    display: flex;
}

#check_box {
    width: 18px;
    height: 18px;
    color: black;
}

#button {
    width: 392px;
    margin-top: 10px;
    border-radius: 0%;
}

#check_box {
    accent-color: black;
    margin-right: 5px;
}