.mobile_header {
    width: 100%;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    font-family: Montserrat;
    border-bottom: 1px solid #EEEEEE;
}

.mobile_menu {
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
}

.menu_head {
    display: flex;
    justify-content: space-between;
}

.close_img {
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

.nav_text {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    list-style: none;
  }

  .bottom_item {
      font-size: 15px;
      /* margin-bottom: 0 auto; */
      margin-top: 270px;
      font-weight: 500;
  }

  .tel {
    font-weight: 300;
    color: #979797;
}

.mobile_logo {
    height: 43px;
}

.mobile_search {
    margin-top: 15px;
    width: 19px;
    height: 19px;
}

.search_block {
    background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 60px;
    left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 10;
	padding: 1% 7%;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    position: relative;
}

.input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding-left: 22px;
    height: 30px;
    background: #F8F8F8;
}

.searchs_btn {
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
}

.search_icon {
    width: 19px;
    height: 19px;
}