.content_collection {
    height: 500px;
    padding: 10px 70px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.collection {
    width: 280px;
    margin: 10px;
}

.collection_image {
     width: 270px;
     height: 360px;
     position: absolute;
     
}

.info {
    position: absolute;
    margin-top: 287px;
    /* align-items: flex-end; */
}

.card_title {
    color: white;
    font-size: 18px;
    width: 270px;
    /* font-weight: 500; */
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#button {
    border-radius: ;
    width: 270px;
    height: 40px;
}