.content_collection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 10px 70px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.collection {
    width: 280px;
    
}

.collection_image {
     width: 280px;
     height: 350px;
     position: absolute;
     
}

.card_title {
    position: absolute;
}