.content_collection {
    /* height: 900px; */
    padding: 10px 70px;
    background-color: #ECECEC;
    /* min-height: 50%; */
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    /* margin-bottom: 200px; */
}

.collection {
    width: 280px;
    margin: 10px;
}

.collection_image {
    /* height: 500px; */
     height: 360px;
     position: absolute;
     /* margin: 10px;     */
}

.info {
    position: absolute;
    margin-top: 284px;
    /* align-items: flex-end; */
}

.card_title {
    color: white;
    font-size: 18px;
    width: 270px;
    /* font-weight: 500; */
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#button {
    border-radius: 0%;
    width: 270px;
    height: 44px;
}

#button:hover {
    color: #000;
    background-color: white;
    border: 1px solid white;
}

#pagination {
    margin-left: 850px;
}

#paginationItem {
    color: #000;
}

#paginationItem:hover {
    background-color: #000;
    color: white;
}