.news_content {
    background-color: #ECECEC;
    padding: 10px 90px;
}

.card_news {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: white;
    padding: 15px;
    margin-bottom: 8px;
}

.image_news {
    width: 220px;
}

.info_news {
    
}