.news_content {
    background-color: #ECECEC;
    padding: 10;
}

.card_news {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: white;
    padding: 15px;
}

.image_news {
    width: 226px;
}