.content {
    padding: 10px 90px;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display: flex;
    background-color: #fff;
    padding: 12px;
    width: 760px;
    height: 166px;
    margin-bottom: 10px;
}

.product_title {
    margin-bottom: 15px;
    width: 250px;
}

.product_info {
    margin-left: 15px;
}

.image_product {
    width: 112px;
    height: 142px;
}

.product_color {
    margin-bottom: 0;
    color: #7C7C7C;
}

.count {
    display: flex;
}

.product_btn {
    border: 1px solid #EFEFEF;
    background-color: #F8F8F8;
    border-radius: 6px;
    width: 32px;
    height: 32px; 
    font-weight: 600;
}

.product_price {
    margin-bottom: 12px;
}

.product_old_price {
    color: #7C7C7C;
    text-decoration: line-through;
    font-weight: 300;
    /* font-size: 14px; */
}

.product_count {
    padding: 0 12px;
    margin-top: 0;
    /* padding-bottom: 30px; */
}

.order_amount {
    padding: 24px;
    background-color: #fff;
    width: 380px;
    height: 310px;
}

.order_theme {
    margin-bottom: 16px;
}

.order_product {
    color: #979797;
    font-size: 14px;
    margin-bottom: 12px;
}

.order_btn {
    background-color: #E5271B;
    color: #fff;
    border: 1px solid #E5271B;
    height: 44px;
    width: 336px;
}

.order_length {
    margin-left: 170px;
}