.content {
    padding: 10px 90px;
}

.product {
    display: flex;
}

.image_product {
    width: 112px;
    height: 142px;
}

.product_color {
    margin-bottom: 0;
}

.count {
    display: flex;
}

.product_btn {
    border: 1px solid #EFEFEF;
    ba
}