/* .swiper_wrap {
    display: flex;
} */

.swiper_card {
    background-color: white;
    margin-bottom: 10px;
}

.swiper_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: white; */
}

.swipers {
    width: 286px;
    overflow: hidden;
    position: relative;
    /* background-color: white; */
    /* margin-right: 2%; */
}

.swiper_image {
    width: 286px;
}

.card_info {
    padding: 6px;
    /* margin-top: 295px; */
    /* position: absolute; */
}

#title {
    margin-bottom: 0;
}

.size {
    margin: 0;
}

h6 {
    margin-bottom: 0;
}

.old_price {
    color: #ADADAD;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 100;
}

.product_color {
    display: flex;
}

.product_color:hover {
    cursor: pointer;
}
.arrow_right {
    background-color: rgb(243, 11, 11);
    /* box-shadow: 0 0 3px 2px rgba(0,0,0,0.8); */
    height: 100px;
    left: -50px;
    position: absolute;
    top: -50px;
    width: 100px;
    /* -webkit-transform: rotate(-45deg); */
    
    /* -webkit-transform: rotate(-45deg); */
  }