.content {
    background: #ECECEC;
    width: 100%;
    padding: 3% 7%;
    font-family: Montserrat;
}

.theme {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.swiper_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.btn {
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

.btn button {
    width: 100px;
}

.product_length{
    font-size: 14px;
    color: #979797;
    font-weight: 500;
    /* font-family: Montserrat; */
}