.content {
    height: auto;
}

.theme {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

#cardsCollection {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    /* width: 100%; */
    justify-content: space-between;
    /* margin-bottom: 200px; */
}

.collection {
    width: 280px;
    margin: 6px;
}

.collection:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.collection_image {
     height: 380px;
     width: 286px;
     position: absolute;
}

.info {
    position: absolute;
    margin-top: 300px;
}

.card_title {
    color: white;
    font-size: 18px;
    width: 270px;
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#button {
    border-radius: 0%;
    width: 286px;
    height: 44px;
}

#button:hover {
    color: #000;
    background-color: white;
    border: 1px solid white;
}

.btn {
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

.btn button {
    width: 100px;
}

@media screen and (max-width: 1115px) and (min-width: 520px) {
    #cardsCollection {
        height: 800px;
    }
}

@media screen and (max-width: 761px) and (min-width: 320px) {
    #cardsCollection {
        height: 1600px;
    }
}