.help_content {
    display: flex;
    background-color: #ECECEC;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 3% 7%;
}

#item {
    margin-bottom: 10px;
}

.help_image {
    width: 50%;
}