.content {
    background: #ECECEC;
    padding: 3% 6%;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.theme {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.btn {
    /* width: 100%; */
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

.btn button {
    width: 100px;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    margin: 6px;
    background-color: white;
    height: 450px;
    width: 280px;
}

.cardItem:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.sale {
    position: relative;
    /* width:  0; 
    height: 0;
    border-top: 60px solid #E5271B;
    border-right: 60px solid transparent; */
    width: 0; 
	height: 0; 
	border-top: 150px solid #E5271B;;
	border-bottom: 150px solid transparent;
	border-right: 150px solid transparent;
    color: white;  
}

.sale_num {
    position:relative;
    top: 0;
    width: 100px;
    left: 0;
    bottom: 300px;
    text-align: top;
    font-size: 16px;
    font-family: arial;
    transform: rotate(-45deg);
    display:block;
    /* transform: rotate(-45deg); */
    /* padding-bottom: 50px; */
    /* padding-left: 30px;
    padding-right: 0;
    padding-bottom: 30px; */
    /* position: sticky; */
}

.photo {
    /* position: absolute; */
    /* margin: 0 8px; */
    width: 280px;
    height: 360px;
}

.card_info {
    padding: 6px;
    /* margin-top: 295px; */
    position: absolute;
}

#title {
    margin-bottom: 0;
}

.size {
    margin: 0;
}

h6 {
    margin-bottom: 0;
}

.old_price {
    color: #ADADAD;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 100;
}

.product_color {
    display: flex;
}

.product_color:hover {
    cursor: pointer;
}
#button {
    border-radius: 0%;
    width: 270px;
    height: 44px;
}

#button:hover {
    color: #000;
    background-color: white;
    border: 1px solid white;
}

.cards_all {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 280px; */
}

.cards {
    width: 280px;
}

.swiper {
    width: 280px;
}

.swiper-pahination-bullet {
    width: 25px;
    height: 5px;border-radius: 5px;
}