.mobile_header {
    width: 100%;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.mobile_menu {
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
}

.menu_head {
    display: flex;
    justify-content: space-between;
}

.close_img {
    width: 16px;
    height: 16px;
    margin-top: 7px;
}
.nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
    padding: 18px;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

.mobile_logo {
    height: 43px;
}

.mobile_search {
    margin-top: 15px;
    width: 19px;
    height: 19px;
}

.mobile {
    display: none;
}

@media (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}