.mobile_header {
    width: 100%;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
}

.mobile_menu {
    width: 36px;
    height: 36px;
    margin-top: 5px;
}

.menu {
    background-color: white;
}

.mobile_logo {
    width: 99px;
}

.mobile_search {
    margin-top: 15px;
    width: 19px;
    height: 19px;
}

.mobile {
    display: none;
}

@media (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}