.content {
    background: #ECECEC;
    padding: 3% 6%;
    /* margin: 0; */
    width: 100%;
    /* font-family: 'Montserrat', sans-serif; */
}

.theme_offer {
    margin-left: 0;
}

.offer_text {
    bac
}