.content {
    background: #ECECEC;
    padding: 3% 6%;
    /* margin: 0; */
    width: 100%;
    /* font-family: 'Montserrat', sans-serif; */
}

.theme_offer {
    width: 100;
}

.offer_text {
    background-color: #fff;
}