.product {
    width: 100%;
    padding: 3% 6%;
    display: flex;
    justify-content: space-between;
}

.product_images {
    display: flex;
    flex-wrap: wrap;
    
}

.product_image {
    width: 308px;
}