.product {
    width: 100%;
    padding: 3% 6%;
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    /* width: 45px; */
}

.product_images {
    display: flex;
    flex-wrap: wrap;
}

.product_image {
    width: 308px;
}

.product_info {
    background-color: white;
    padding: 20px;
    width: 620px;
    height: 500px;
}

.product_color {
    df
}

.color {
    display: flex;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}