.theme {
    margin: 20px 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.advanItem {
    width: 286px;
    /* height: 240px; */
    background-color: white;
    margin: 8px 8px;
    padding: 6px 10px;
    align-items: center;
    text-align: center;
}

.advanImage {
    padding: 15px 10px;
}

.advanImage2 {
    padding: 22px 10px;
}

.advanInfo {
    margin-top: 8px;
    color: #979797;
}