.theme {
    margin-top: 40px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.advantages {
    display: flex;
}

.advanItem {
    width: 280px;
    height: 240px;
    background-color: white;
    margin:;
}