.content {
    background: #ECECEC;
    padding: 10px 80px;
    margin: 0;
}

.carousel_image {
    margin-right: 0;
}

.image {
    width: 100%;
}

.slider {
    margin: 0;
}

.theme {
    
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin: 0 8px;
    width: 280px;
    height: 400px;
}