.content {
    background: #ECECEC;
    padding: 10px 70px;
    margin: 0;
}

.theme {
    margin-top: 13px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.btn {
    /* width: 100%; */
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

.btn button {
    width: 100px;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    margin: 10px;
    background-color: white;
    height: 500px;
}

.sale {
    position: absolute;
    width: 51.04px;
    height: 50.81px;
    background: #E5271B;
}
.photo {
    position: relative;
    /* margin: 0 8px; */
    width: 280px;
    /* height: 390px; */
}

.card_info {
    padding: 6px;
}

#title {
    margin-bottom: 0;
}

.size {
    margin: 0;
}

h6 {
    margin-bottom: 0;
}

.product_color {
    display: flex;
}

cards {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    /* margin-bottom: 200px; */
}

.collection {
    width: 280px;
    margin: 10px;
}

.collection_image {
    /* height: 500px; */
     height: 360px;
     position: absolute;
     /* margin: 10px;     */
}

.info {
    position: absolute;
    margin-top: 284px;
    /* align-items: flex-end; */
}

.card_title {
    color: white;
    font-size: 18px;
    width: 270px;
    /* font-weight: 500; */
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#button {
    border-radius: 0%;
    width: 270px;
    height: 44px;
}

#button:hover {
    color: #000;
    background-color: white;
    border: 1px solid white;
}