.content {
    background: #ECECEC;
    padding: 10px 70px;
    margin: 0;
}

.theme {
    margin-top: 13px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    margin: 10px;
    background-color: white;
}

#card_like_icon {
    
}

.sale {
    
}
.photo {
    position: absolute;
    /* margin: 0 8px; */
    width: 280px;
    /* height: 390px; */
}

.card_info {
    padding: 6px;
}

#title {
    margin-bottom: 0;
}

.product_color {
    display: flex;
}