.content {
    background: #ECECEC;
    padding: 10px 70px;
    margin: 0;
}

.theme {
    width: 100%;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    padding: 0 10px;
}

.photo {
    /* margin: 0 8px; */
    width: 280px;
    /* height: 390px; */
}

.product_color {
    /* border-radius: 50%; */
    /* width: 30px; */
}