.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 7%;
    /* position: relative; */
    background: #ECECEC;
    font-family: 'Montserrat';
    width: 100%;
}

.girl_face {
    position: absolute;
    margin-left: 10px;
    top: 400px;
    bottom: 10px;
    width: 25%;
}

.about {
    margin-top: 60px;
    width: 450px;
    padding: 0 24px;
    background: white;
    height: 700px;
}

.about_photo {
   margin-top: 10px;
   width: 100%;
   margin-bottom: 40px;
}

.photo {
    width: 100%;
}

@media (max-width: 500px) {
    .photo {
        width: 140px;
    }

    .about_photo {
        width: 140px;
     }
     .girl_face {
        margin-left: 10px;
        top: 200px;
        width: 140px;
    }
    .about {
        margin-top: 0;
        padding: 0 24px;
        background: white;
        height: 1000px;
    }
}