.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.advanItem {
    width: 280px;
    background-color: white;
    margin: 8px;
    padding: 6px;
    align-items: center;
    text-align: center;
}

.advanImage {
    padding: 15px 10px;
}

.advanImage2 {
    padding: 22px 10px;
}

.advanInfo {
    margin-top: 8px;
    color: #979797;
}