.content {
    width: 100%;
    padding: 11px 7%;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 300px;
    font-family: Montserrat;
}

.products {
    width: 65%;
}

.product {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px;
    width: 100%;
    height: 166px;
    margin-bottom: 10px;
    color: #393939;
}

.info_block {
    display: flex;
}

.product_title {
    margin-bottom: 15px;
    width: 250px;
    font-size: 14px;
    font-weight: 400 Regular;
    color: #393939;
}

.product_info {
    margin-left: 15px;
}


.image_product {
    width: 112px;
    height: 142px;
}

.product_color {
    margin-bottom: 0;
    color: #7C7C7C;
    display: flex;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 6px;
}

.product_size {
    margin-bottom: 6px;
    color: #7C7C7C;
    font-size: 13px;
}

#colors {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.color_box {
    width: 16px;
    height: 16px;
    border: 1px solid #E7E7E7;
    padding: 3px;
    margin-left: 5px;
}

.count {
    display: flex;
}

.product_btn {
    border: 1px solid #EFEFEF;
    background-color: #F8F8F8;
    border-radius: 6px;
    width: 32px;
    height: 32px; 
    font-weight: 600;
    color:#1A1E3D;
    font-size: 20px;
}

#close_icon{
    width: 14px;
    height: 14px;
}

.product_price {
    margin-bottom: 12px;
    color: #393939;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500 medium;
}

.product_old_price {
    color: #ADADAD;
    text-decoration: line-through;
    font-weight: 200;
    font-size: 14px;
}

.product_count {
    padding: 0 12px;
    margin-top: 5px;
    color: #393939;
    font-size: 16px;
    line-height: 19px;
}

.order_amount {
    padding: 24px;
    background-color: #fff;
    width: 380px;
    height: 310px;
    font-size: 14px;
    line-height: 17px;
}

.order_theme {
    margin-bottom: 16px;
}

.order_product {
    color: #979797;
    font-size: 14px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.order_text {
    margin-bottom: 10px;
    color: #393939;
}

.line {
    margin: 12px  0 24px 0;
}

.text_theme {
    margin-bottom: 10px;
}

.basket_null h2 {
    font-size: 24px;
    font-weight: 500 medium;
    line-height: 29px;
}

.basket_null .description {
    font-size: 14px;
    color: #979797;
    font-weight: 500 medium;
    line-height: 17px;
}

@media (max-width: 500px) {
    .products {
        width: 100%;
    }

    .product_title {
        width: 150px;
    }

    .order_amount {
        width: 100%;
    }

    .line {
        width: 100%;
    }
}