.content_collection {
    width: 100%;
    padding: 2% 7%;
    background-color: #ECECEC;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
    font-family: Montserrat;
    font-weight: 500 medium;
}

.theme {
    margin-top: 44px;
    margin-bottom: 18px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.theme h3 {
    font-family: Montserrat;
    font-weight: 500 medium;
    font-size: 24px;
    line-height: 29px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mobile_swiper {
    display: none;
}

.collection {
    width: 286px;
    height: 380px;
    margin-bottom: 10px;
}

.collection:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.collection_image {
     height: 380px;
     width: 286px;
     position: absolute;
}

.info {
    position: relative;
    height: 380px; 
    background: rgba(7, 7, 7, 0.2);
    padding-top: 310px;
}

.card_title {
    color: white;
    font-size: 15px;
    width: 286px;
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#collection_button {
    border: none;
    width: 286px;
    height: 44px;
    color:#FFFFFF;
    background-color: #1D1D1B;
    font-size: 14px;
    line-height: 17.07px;
}

#collection_button:hover {
    color: #1D1D1B;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 500 medium;
    cursor: pointer;
    line-height: 100%;
}

.btn {
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

#more_btn {
    width: 107px;
    height: 32px;
    background-color: #1D1D1B;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
}


@media screen and (max-width: 1115px) and (min-width: 520px) {
    .cards_collection {
        height: 800px;
    }
}

@media screen and (max-width: 761px) and (min-width: 320px) {
    .cards_collection {
        height: 1600px;
    }

    .card_desktop {
        display: none;
    }

    .mobile_swiper {
        display: block;
    }
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .collection_theme {
        margin-left: 10px;
    }
}