.content_collection {
    width: 100%;
    padding: 3% 7%;
    background-color: #ECECEC;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

.theme {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
}

.cards_collection {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;
}

.collection {
    width: 286px;
}

.collection_image {
     height: 380px;
     width: 286px;
     position: absolute;
}

.info {
    position: absolute;
    margin-top: 305px;
}

.card_title {
    color: white;
    font-size: 18px;
    width: 286px;
}

.card_title p {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}

#button {
    border-radius: 0%;
    width: 286px;
    height: 44px;
}

#button:hover {
    color: #000;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

#btn {
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

#btn #button_page {
    width: 100px;
}


@media screen and (max-width: 1115px) and (min-width: 520px) {
    .cards_collection {
        height: 800px;
    }
}

@media screen and (max-width: 761px) and (min-width: 320px) {
    .cards_collection {
        height: 1600px;
    }
}