.content {
    background: #ECECEC;
    width: 100%;
    padding: 11px 7%;
    font-family: Montserrat;
}

.content h2 {
    font-size: 24px;
    font-weight: 500 medium;
    line-height: 29px;
}

.theme {
    margin-top: 44px;
    margin-bottom: 18px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.theme h3 {
    font-family: Montserrat;
    font-weight: 500 medium;
    font-size: 24px;
    line-height: 29px;
}

.swiper_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.swipers {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    margin-top: 50px;
}

.box h4 {
    font-size: 24px;
    font-weight: 500 medium;
    line-height: 29px;
}

.btn {
    margin: 10px 80px;
    align-items: center;
    text-align: center;
}

#more_btn {
    width: 107px;
    height: 32px;
    background-color: #1D1D1B;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
}

.product_length{
    font-size: 14px;
    color: #979797;
    font-weight: 500 medium;
    line-height: 17px;
}

#similar_product {
    margin: 32px 0 16px 0;
}

.new_clothes {
    margin-top: 50px;
}

.mobile_swiper {
    display: none;
}

.mobile_slider {
    width: 262px;
}

@media (max-width: 700px) {
    .swiper_wrap {
        display: none;
    }

    .mobile_swiper {
        display: block;
        width: 100%;
    }

    .content{
        font-size: 16px;
    }
    .swipers {
        /* display: flex; */
        justify-content: center;
        /* flex-wrap: wrap;
        width: 100%; */
    }
}