.help_content {
    display: flex;
    background-color: #ECECEC;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 11px 7% 72px 7%;
}

#item {
    margin-bottom: 10px;
    background-color: #FFFFFF;
    width: 644px;
}

.help_info h4 {
    font-weight: 500 medium;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 15px;
}

.help_image {
    width: 500px;
    height: 500px;
}

@media (max-width: 500px) {
    .help_image {
        width: 288px;
        height: 288px;
    }

    #item { 
        width: 288px;
    }

    .help_info h4 {
       margin-top: 24px;
    }
}