.product {
    font-family: Montserrat;
    width: 100%;
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ECECEC;
    color: #393939;
}

.product_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 625px;
}

.product_image {
    width: 308px;
    margin-bottom: 8px;
}

.product_info {
    background-color: #FFFFFF;
    padding: 20px;
    width: 500px;
    height: 400px;
    font-size: 14px;
}

.title{
    font-size: 24px;
    line-height: 29px;
    font-weight: 500 medium;
}

.theme {
    margin-bottom: 10px;
    font-weight: 500 medium;
    font-size: 14px;
    color: #1D1D1B;
}

.art {
    font-weight: 400 Regular;
    line-height: 14px;
    color: #393939;
}

.product_color {
    display: flex;
    margin-bottom: 10px;
}

.color_theme {
    font-weight: 500; 
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    margin-right: 6px;
}

.theme_info {
    font-weight: normal;
}

.color {
    display: flex;
}

#color_focus {
    border: none;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    align-items: center;
    text-align: center;
    padding: 3px;
    margin-right: 3px;
}

#color_focus:focus {
    border: 1px solid #D6D6D6;
}

#color_focus p {
    margin-bottom: 2px;
    border: 1px solid #D1D1D1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.price {
    font-weight: 400 Regular;
    font-size: 24px;
    line-height: 29px;
}

.old_price{
    text-decoration: line-through;
    color: #979797;
    font-size: 16px;
    font-weight: 500 medium;
    line-height: 19px;
}

.theme_prod {
    font-size: 16px;
    font-weight: 500 medium;
    line-height: 19px;
    margin-bottom: 6px;
}

.description {
    color:#6A6A6A;
    font-size: 14px;
    font-weight: 400 Regular;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.themes {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    margin-bottom: 14px;
}

.shopping_bag_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-top: 15px; */
}

#add_bag_btn {
    width: 80%;
    border: none;
    background-color: #1D1D1B;
    height: 44px;
    color:#FFFFFF;
}

.bag_icon {
    font-weight: 500;
}

.product_like_icon {
    font-size: 26px;
}

#like_btn {
    width: 17%;
    border: none;
    background-color: #1D1D1B;
    height: 44px;
    color: #FFFFFF;
}

.similar_prod {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}