.product {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ECECEC;
}

.product_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 625px;
}

.product_image {
    width: 308px;
    margin-bottom: 8px;
}

.product_info {
    background-color: white;
    padding: 20px;
    width: 500px;
    height: 400px;
    font-size: 14px;
}

.title{
    font-size: 24px;
}

.theme {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.art {
    font-weight: normal;
}

.product_color {
    display: flex;
    margin-bottom: 10px;
}

.color_theme {
    font-weight: 600;
}

.theme_info {
    font-weight: normal;
}

.color {
    display: flex;
    margin-top: 8px;
}

.price {
    font-weight: 500;
}

.old_price{
    text-decoration: line-through;
    color: #979797;
    font-size: 16px;
}

.description {
    color:#6A6A6A;
    font-size: 14px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.themes {
    font-weight: 600;
    font-size: 14px;
}

.shopping_bag_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

#add_bag_btn {
    width: 80%;
    border-radius: 0%;
}

.bag_icon {
    font-weight: 500;
}

.product_like_icon {
    font-size: 26px;
}

#like_btn {
    width: 17%;
    border-radius: 0%;
}